@model IEnumerable<WebApplication1.Data.Product>

@{
    ViewData["Title"] = "Index";
}

<h2 class="my-4 ">FPTBooks's Store </h2>
<div class=" row">
    @foreach ( var book in Model)
    {
        <div class=" col-3"> 
            <div  class=" card my-2 store-card">
                <a class=" a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@book.Id">
                    <img src="/uploads/@Html.DisplayFor(modelitem => book.BookImage)" class="card-img-top card-img-custom" />
                    <div class=" card-body" style="height:6em;">
                        <h5 class=" mb-3"> @book.Name</h5>

                    </div>
                    <div class=" card-body">
                        <span class=" card-text"> @book.BookPrice.ToString()</span>
                        <a asp-controller="" asp-action="" asp-route-id="@book.Id" class=" btn btn-primary float-right store-btn"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </a>
            </div>
            
        </div>
    }

</div>
